@{
    ViewData["Title"] = "Contact Success";
}

<div style="text-align: center; margin-top: 50px;">
    <h2 style="color: #Deb887;">Contact Success!</h2>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 10px;">
        Thank you for contacting us. We will get in touch with you shortly.
    </p>
    <a href="~/Account/Index" class="btn btn-primary" style="margin-top: 20px;margin-bottom: 20px;background: black; border:1px solid white;">Click here to go back to Home</a>
</div>

