@{
    ViewData["Title"] = "PageContact";
}

<head>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Forest Time - Stylish Magazine Blog Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="~/css/colors.css" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="~/css/version/garden.css" rel="stylesheet">
</head>
<div id="slideshow" class="my-swiper my-swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://kenh14cdn.com/2019/9/12/photo-4-15682544730301888465967.jpg" alt="">
            <figure>
                <figcaption>Nguyễn Hữu Thạch</figcaption>
            </figure>
        </div>
        <div class="swiper-slide">
            <img src="https://kenh14cdn.com/2019/9/12/photo-4-15682544730301888465967.jpg" alt="">
            <figure>
                <figcaption>Trần Phúc Huynh</figcaption>
            </figure>
        </div>
        <div class="swiper-slide">
            <img src="https://kenh14cdn.com/2019/9/12/photo-4-15682544730301888465967.jpg" alt="">
            <figure>
                <figcaption>Hoàng Văn Đức Trọng</figcaption>
            </figure>
        </div>
        <div class="swiper-slide">
            <img src="https://kenh14cdn.com/2019/9/12/photo-4-15682544730301888465967.jpg" alt="">
            <figure>
                <figcaption>Phan Trung Hậu</figcaption>
            </figure>
        </div>
        <div class="swiper-slide">
            <img src="https://kenh14cdn.com/2019/9/12/photo-4-15682544730301888465967.jpg" alt="">
            <figure>
                <figcaption>Đinh Minh Thành</figcaption>
            </figure>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<br>
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Who we are</h4>
                            <p>Forest Time is a personal blog for handcrafted, cameramade photography content, fashion styles from independent creatives around the world.</p>
                        </div>

                        <div class="col-lg-4">
                            <h4>How we help?</h4>
                            <p>Etiam vulputate urna id libero auctor maximus. Nulla dignissim ligula diam, in sollicitudin ligula congue quis turpis dui urna nibhs. </p>
                        </div>

                        <div class="col-lg-4">
                            <h4>Pre-Sale Question</h4>
                            <p>Fusce dapibus nunc quis quam tempor vestibulum sit amet consequat enim. Pellentesque blandit hendrerit placerat. Integertis non.</p>
                        </div>
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            @model Contact

                            <form asp-action="PageContact" method="post" class="form-wrapper">
                                <div class="form-group">
                                    <label asp-for="Name">Name:</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email:</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message">Message:</label>
                                    <textarea asp-for="Message" class="form-control"></textarea>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                            </form>

                           <!-- <form class="form-wrapper">
                                <input type="text" class="form-control" placeholder="Your name">
                                <input type="text" class="form-control" placeholder="Email address">
                                <input type="text" class="form-control" placeholder="Phone">
                                <input type="text" class="form-control" placeholder="Subject">
                                <textarea class="form-control" placeholder="Your message"></textarea>
                                <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                            </form> -->
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

