<div id="form" style="display:none;">
    <div id="overlay">
        <div id="formContainer">
            <h2 id="titleh2">Create Post</h2>
            <div id="all">
                <div class="theloai">
                    <select id="mySelect">
                        <option value="option1">In Living</option>
                        <option value="option2">Tourism</option>
                        <option value="option3">Technology</option>
                        <option value="option3">Fashion</option>
                    </select>
                </div>


                <div>
                    <input type="text" id="tieude" placeholder="title"><br>
                </div>


                <div class="anh">
                    <input type="file" id="uploadFile" name="uploadFile" class="custom-file-input" accept="image/*">
                    <img id="previewImage" src="#" style="display: none; width: 464px; height: 248px;">

                </div>
                <div class="content">
                    <textarea id="userInput" name="userInput" rows="6" cols="50" placeholder="Nhập nội dung của bạn ở đây..."></textarea>
                </div>

                <div>
                    <button id="post">Post</button>
                </div>


                <div>
                    <i id="closeButton" class="fa-solid fa-xmark"></i>
                    <span id="closeText" style="display: none;">CLOSE</span>
                </div>
            </div>

        </div>
    </div>
</div>
