
@{
    var userAvatar = Context.Session.GetString("Avatar");
}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Blog - Nơi Chia Sẻ Và Kết Nối</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="~/css/font-awesome.min.css" rel="stylesheet">

<!-- Style CSS -->
<link href="~/css/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="~/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="~/css/colors.css" rel="stylesheet">

<!-- Version Garden CSS for this template -->
<link href="~/css/version/garden.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
   
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 350px;
                object-fit: cover;
            }

        .swiper-slide {
            width: 40%;
        }

            .swiper-slide:nth-child(2n) {
                width: 40%;
            }

            .swiper-slide:nth-child(3n) {
                width: 40%;
            }

            .swiper-slide:nth-child(4n) {
                width: 40%;
            }

            .swiper-slide:nth-child(5n) {
width: 40%;
            }
        /*----------------------------Contact-----------------------------*/
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            border-top: none; /* Loại bỏ đường viền trên của danh sách */
        }

        .nav-item {
            position: relative; /* Đảm bảo .dropdown-menu được định vị tương đối với .nav-item */
        }
          .dropdown-menu1 {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 30px; /* Adjust as needed */
            right: 10px; /* Adjust as needed */
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .dropdown-menu1.show {
            display: block;
        }

        .dropdown-menu li {
            background-color: #fff; /* Màu nền mặc định */
            color: #000; /* Màu chữ mặc định */
            padding: 10px;
        }

            .dropdown-menu li:hover {
                background-color: green; /* Màu nền khi di chuột vào */
                color: #fff; /* Màu chữ khi di chuột vào */
            }

        .dropdown-menu.show {
            display: block;
        }
        /*----------------------------Contact-----------------------------*/
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .my-swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

            .my-swiper .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
                position: relative; /* Thêm dòng này */
            }

                .my-swiper .swiper-slide img {
                    display: block;
                    width: 100%;
                }

                .my-swiper .swiper-slide figure {
                    position: absolute;
                    bottom: 0; /* Đưa figure về dưới */
                    text-align: center;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.7); /* Màu nền cho tên */
                    padding: 5px;
                    margin: 0;
                    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ trong suốt 50% */
                    color: #fff; /* Màu chữ trắng */
                    font-weight: bold; /* Đậm */
                    width: 100%; /* Đảm bảo phần tên nằm trọn trong slide */
                    box-sizing: border-box; /* Tính cả padding và border vào kích thước */
                }

                .my-swiper .swiper-slide figcaption {
                    margin: 0;
                }
                /*Footer*/
        .footer {
            font-family: Arial, sans-serif; 
            font-weight: 400; 
            font-style: italic;
line-height: 1.6; 
            color: #333; 
        }

        #all {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin: 0 auto; /* Đặt margin auto để căn giữa theo chiều ngang */
        }

            #all > div {
                padding: 10px;
            }

        #formContainer{
            width:52%;
        }
  

        #mySelect {
            width: 150px;
            height: 30px;
            padding-left: 10px;
        }

        #tieude {
            width: 150px;
            height: 30px;
            padding-left: 10px;
        }

        #post {
            padding: 7px;
            width: 80px;
            border-radius: 7px;
            background-color: black;
            color: white;
            font-weight: bold;
        }

     

        /* CSS để tạo overlay và canter form */
        #overlay {
         
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
            z-index: 1000; /* Sắp xếp trên tất cả các phần tử khác */
        }

        #formContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        .overlayHidden {
            display: none;
        }

        #closeButton{
            display:flex;
            text-align:center;
            justify-content: center;
            align-items: center;
        }

        #closeText {
            display: none;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center; /* Ẩn ban đầu */
            color:red;
        }

        #titleh2{
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
            .slideshow {
        position: relative;
        width: 100%;
        height: 350px; /* Thay đổi kích thước slideshow theo nhu cầu */
        overflow: hidden;
    }

    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .slide.active {
        opacity: 1;
    }
    .widget-inta {
        margin-bottom:10px;
    }

    .slideshow {
        display: flex;
        border: 5px solid #ccc; /* Màu và kích thước của khung viền */
    }

    .slide {
        width: 100%;
        height: auto;
        transition: transform 1s ease-in-out;
    }
</style>
   
</head>
<body>
   <partial name="_CreatePostPartial" />
    <div id="wrapper">
        <div class="topbar-section" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div><!-- end social -->
                    </div><!-- end col -->

                    <div class="col-lg-4 hidden-md-down">
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <ul class="navbar-nav">

                                <li class="nav-item">
<a id="manage" style="color:white" asp-area="" asp-page="" title="Manage">Hello @ViewBag.username</a>
                                </li>
                                <li class="nav-item">
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <button id="logout" type="submit">Logout</button>
                                    </form>
                                </li>

                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->

        <div class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo" style="text-align:center !important;">
                            <a  href="#"><img style="border-radius:100px;" src="/css/upload/Screenshot 2024-04-25 212607.png" /></a>
                        </div><!-- end logo -->
                    </div>
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end header -->

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="ForestTimemenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" asp-area="" asp-controller="Account" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link color-green-hover category-toggle">Category <i style="padding-left:5px;" class="fa-solid fa-angle-down arrow-icon"></i></div>
                                <ul class="dropdown-menu">
                                    <li><a asp-area=  asp-controller="Category" asp-action="InLiving" >In Living</a></li>
                                    <li><a asp-area=  asp-controller="Category" asp-action="Tourism">Tourism</a></li>
                                    <li><a asp-area=  asp-controller="Category" asp-action="Technology">Technology</a></li>
                                    <li><a asp-area=  asp-controller="Category" asp-action="Fashion">Fashion</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#">Notification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" asp-area="" asp-controller="Contact" asp-action="PageContact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" asp-area="" asp-controller="Profile" asp-action="PageProfile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" id="createPostLink" href="#">Create Post</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div><!-- end container -->
        </header><!-- end header -->
      



        <!-- Thân Page Ở Đây Nha Anh Em -->
     
                   @RenderBody()
                  
        <!-- Ghi Chú Của HuynhSenpai -->





        <!-- footer ở đây nè bro -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <p>Web Blog is a personal blog for handcrafted, cameramade photography content, fashion styles from independent creatives around the world.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-center">

                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright" style="color:antiquewhite">&copy; Forest Time. Design: <a href="http://html.design">LAKER.K19 Design</a>.</div>
</div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!----------------------Phần Silde Show------------>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>     
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 3000,
            },
        });
    </script>

    <script>
        document.querySelector('.arrow-icon').addEventListener('click', function () {
            var dropdownMenu = this.closest('.nav-item').querySelector('.dropdown-menu');
            dropdownMenu.classList.toggle('show');
        });
    </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var toggleButtons = document.querySelectorAll('.toggle-button');
        toggleButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var dropdownMenu = this.closest('.post-header').querySelector('.dropdown-menu1');
                dropdownMenu.classList.toggle('show');
            });
        });
    });
</script>

    <!----------Contact---------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".my-swiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            autoplay: {
                delay : 2000,
            },
        });
    </script>
    <script>
        document.getElementById('uploadFile').onchange = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('previewImage');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        };
      
        var textarea = document.getElementById("userInput");

        textarea.addEventListener("input", function () {
            var lineHeight = parseFloat(window.getComputedStyle(textarea).lineHeight);
            var maxHeight = lineHeight * 13;
            var scrollHeight = textarea.scrollHeight;

            if (scrollHeight > maxHeight) {
                textarea.style.height = maxHeight + "px";
                textarea.style.overflowY = "auto";
} else {
                textarea.style.height = scrollHeight + "px";
                textarea.style.overflowY = "hidden";
            }
        });


        var overlay = document.getElementById("overlay");

        var formContainer = document.getElementById("formContainer");

        var closeButton = document.getElementById("closeButton");

        var closeButton = document.getElementById("closeButton");
        var closeText = document.getElementById("closeText");

        var createPostLink = document.getElementById("createPostLink");

        var form = document.getElementById("form");

        closeButton.addEventListener("mouseenter", function () {
            closeText.style.display = "block";
            closeButton.style.display = "none";
        });

        createPostLink.addEventListener("click", function () {
            form.style.display = "block"; 
        });

        closeButton.addEventListener("click", function () {

            form.style.display = "none";
        });

        closeText.addEventListener("click", function () {

            form.style.display = "none";
        });
       
        overlay.addEventListener("click", function (event) {
        
            if (!formContainer.contains(event.target)) {
      
                form.style.display = "none";
            }
        });

$(document).ready(function () {
    $("#post").click(function (event) {  
        event.preventDefault(); // Ngăn chặn form submit thông thường

        var theloai = $("#mySelect").val(); 
        var tieude = $("#tieude").val();
        var userInput = $("#userInput").val(); 
        var fileInput = document.getElementById('uploadFile');

        if (fileInput.files.length > 0) {
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append('Category', theloai);
            formData.append('Title', tieude);
            formData.append('Content', userInput);
            formData.append('ImageURL', file);

            $.ajax({
                type: "POST",
                url: "/CreatePost/Create",
                data: formData, 
                contentType: false, 
                processData: false,
                success: function (response) {
                    alert('Bài viết đã được đăng thành công!');
                    $("#mySelect").val('');
                    $("#tieude").val('');
                    $("#userInput").val('');
                    $("#uploadFile").val('');
                    form.style.display = "none";
                    var newPostHtml = `
                        <div class="post">
                            <div class="post-header">
                                <img src="@userAvatar" alt="Profile Picture">
                                <div class="post-header-info">
                                    <h3 class="category">${response.username}</h3>
                                    <p>Ngày đăng: ${new Date().toLocaleString()}</p>
                                </div>
                            </div>
                               <hr />
                            <div class="post-content">
                                <h2 class="title">${tieude}</h2>
                                <p>${userInput}</p>
                                ${response.imageBase64 ? `<img style="max-width: 100%;   height: auto;display: block; margin: 0 auto;" src="data:image/jpeg;base64,${response.imageBase64}" alt="Post Image" />` : ''}
                                ${response.imageUrl ? `<img style="max-width: 100%;   height: auto;display: block; margin: 0 auto;" src="${response.imageUrl}" alt="Post Image" />` : ''}
                            </div>
                              <hr />
                            <div class="post-actions">
                                <button class="like-btn">Like</button>
                                <button class="comment-btn">Comment</button>
                                <button class="share-btn">Share</button>
                            </div>
                        </div>`;
                    $("#newPosts").append(newPostHtml);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); 
                    alert('Đã xảy ra lỗi trong quá trình đăng bài. ' + xhr.statusText);
                }
            });
        } else {
            alert('Vui lòng chọn ảnh trước khi đăng bài.');
        }
    });
});

    </script>
    <script>
   document.addEventListener("DOMContentLoaded", function() {
    var slides = document.querySelectorAll('.slide');
    var currentSlide = 0;
var slideInterval = setInterval(nextSlide, 5000); 

    function nextSlide() {
        slides[currentSlide].classList.remove('active');
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide].classList.add('active');
    }
});
</script>
</body>
</html>
