<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>Blog - Nơi Chia Sẻ Và Kết Nối</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Bootstrap core CSS -->
<link href="~/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="~/css/font-awesome.min.css" rel="stylesheet">

<!-- Style CSS -->
<link href="~/css/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="~/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="~/css/colors.css" rel="stylesheet">

<!-- Version Garden CSS for this template -->
<link href="~/css/version/garden.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
    /*---------------------------------------------SlideShow Home---------------------------------------*/
        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 350px;
                object-fit: cover;
            }

        .swiper-slide {
            width: 40%;
        }

            .swiper-slide:nth-child(2n) {
                width: 40%;
            }

            .swiper-slide:nth-child(3n) {
                width: 40%;
            }

            .swiper-slide:nth-child(4n) {
                width: 40%;
            }

            .swiper-slide:nth-child(5n) {
                width: 40%;
            }
        /*----------------------------Contact-----------------------------*/
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            padding: 10px;
            border: 1px solid #ccc;
            border-top: none; /* Loại bỏ đường viền trên của danh sách */
        }

        .nav-item {
            position: relative; /* Đảm bảo .dropdown-menu được định vị tương đối với .nav-item */
        }

        .dropdown-menu li {
            background-color: #fff; /* Màu nền mặc định */
            color: #000; /* Màu chữ mặc định */
            padding: 10px;
        }

            .dropdown-menu li:hover {
                background-color: green; /* Màu nền khi di chuột vào */
                color: #fff; /* Màu chữ khi di chuột vào */
            }

        .dropdown-menu.show {
            display: block;
        }
        /*----------------------------Contact-----------------------------*/
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .my-swiper {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

            .my-swiper .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 300px;
                position: relative; /* Thêm dòng này */
            }

                .my-swiper .swiper-slide img {
                    display: block;
                    width: 100%;
                }

                .my-swiper .swiper-slide figure {
                    position: absolute;
                    bottom: 0; /* Đưa figure về dưới */
                    text-align: center;
                    left: 0;
                    right: 0;
                    background-color: rgba(255, 255, 255, 0.7); /* Màu nền cho tên */
                    padding: 5px;
                    margin: 0;
                    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ trong suốt 50% */
                    color: #fff; /* Màu chữ trắng */
                    font-weight: bold; /* Đậm */
                    width: 100%; /* Đảm bảo phần tên nằm trọn trong slide */
                    box-sizing: border-box; /* Tính cả padding và border vào kích thước */
                }

                .my-swiper .swiper-slide figcaption {
                    margin: 0;
                }
                /*Footer*/
        .footer {
            font-family: Arial, sans-serif; 
            font-weight: 400; 
            font-style: italic; 
            line-height: 1.6; 
            color: #333; 
        }

        .topsocial a {
            display: inline-block;
            margin-right: 8px;
            font-size: 35px;
            transition: transform 0.3s ease;
        }

            .topsocial a:hover {
                transform: scale(1.2);
            }
        </style>
</head>
<body>

    <div id="wrapper">
        

        <div class="topbar-section" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 hidden-xs-down">
                        <div class="topsocial">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                        </div><!-- end social -->
                    </div><!-- end col -->

                    <div class="col-lg-4 hidden-md-down">
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <partial  name="_LoginPartial"></partial>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->

        <div class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo" style="text-align:center !important;">
                            <a  href="garden-index.html"><img style="border-radius:100px;" src="/css/upload/Screenshot 2024-04-25 212607.png" /></a>
                        </div><!-- end logo -->
                    </div>
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end header -->

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="ForestTimemenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" asp-area="" asp-controller="Account" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link color-green-hover category-toggle">Category <i style="padding-left:5px;" class="fa-solid fa-angle-down arrow-icon"></i></div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">In Living</a></li>
                                    <li><a href="#">Tourism</a></li>
                                    <li><a href="#">Technology</a></li>
                                    <li><a href="#">Fashion</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#">Notification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" asp-area="" asp-controller="Contact" asp-action="PageContact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#">Profile</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div><!-- end container -->
        </header><!-- end header -->





        <!-- Thân Page Ở Đây Nha Anh Em -->

                   @RenderBody()

        <!-- Ghi Chú Của HuynhSenpai -->





        <!-- footer ở đây nè bro -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="widget">
                            <div class="footer-text text-center">
                                <p>Web Blog is a personal blog for handcrafted, cameramade photography content, fashion styles from independent creatives around the world.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-center">

                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright">&copy; Forest Time. Design: <a href="http://html.design">LAKER.K19 Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    <!-- Core JavaScript
    ================================================== -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!----------------------Phần Silde Show------------>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 3000, // Thời gian trễ giữa các slide là 3 giây (3000 milliseconds)
            },
        });
    </script>

    <script>
        document.querySelector('.arrow-icon').addEventListener('click', function () {
            var dropdownMenu = this.closest('.nav-item').querySelector('.dropdown-menu');
            dropdownMenu.classList.toggle('show');
        });
    </script>
    <!----------Contact---------->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".my-swiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            autoplay: {
                delay : 2000,
            },
        });
    </script>
</body>
</html>